<nav class="navbar">
  <div class="container0 mb-2">
    <div class="container1">
      <div class="item">
        <a class="nav-link active" aria-current="page" routerLink="/Login">Iniciar Sesión</a>
      </div>
      <div class="item">
        <a class="nav-link active" aria-current="page" routerLink="/Lista-Productos">Productos</a>
      </div>
      <div class="item">
        <a class="nav-link active" aria-current="page" routerLink="/Publicar-Producto">Agregar Producto</a>
      </div>
      <div class="item">
        <a class="nav-link active" aria-current="page" routerLink="/Acerca-de">Acerca de</a>
      </div>
    </div>
    <div class="container2">
      <img src="./assets/user_icon.png" height="30" />
    </div>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Acerca de </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Acerca de </a>
      </li>
    </ul> -->

    <!-- <span><img src="./assets/user_icon.png" height="30"></span> -->
  </div>
  <div class="line"></div>
</nav>
