<nav class="navbar">
  <div class="container-fluid">
    <div class="dropdown mb-2">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenu2"
        data-bs-toggle="dropdown"
        aria-expanded="true">
        <span><img src="./assets/Hamburger_icon.png" height="30"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button">Action</button></li>
        <li><button class="dropdown-item" type="button">Another action</button></li>
        <li><button class="dropdown-item" type="button">Something else here</button></li>
      </ul>
    </div>
    <span><img src="./assets/user.png" height="30"></span>
  </div>
  <div class="line"></div>
</nav>
