<div class="container">
  <div class="row col-lg-6 offset-lg-3" style="margin-top:50px">
    <h1 class="txtlogo mt-5">GARAGE</h1>
    <h1 class="txtlogo mb-5">SALE</h1>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <form>
            <div class="row mt-4">
              <div class="col">
                <input
                  type="text"
                  class="cosa form-control"
                  placeholder="Usuario"
                />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input
                  type="text"
                  class="cosa form-control"
                  placeholder="Contraseña"
                />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="form-check float-start">
                  <input
                    class="cosa form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label class="form-check-label" for="defaultCheck1">
                    Remember Me
                  </label>
                </div>
              </div>
              <div class="col">
                <button class="cosa btn btn-primary float-end" routerLink="/Lista-Productos">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <p class="recuperar float-end">¿Olvidó su contraseña?</p>
    </div>
  </div>
</div>
