
<app-navbar></app-navbar>

<div class="container">
<div class="row col-lg-6 offset-lg-3" style="margin-top:3px; margin-bottom:10px">
  <h1 class="txtlogo mt-5">Acerca de</h1>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="card text-center">
      <div class="card-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestias tenetur in amet perspiciatis maiores praesentium error ipsum, ratione inventore odio iure qui consectetur nobis mollitia veniam similique doloribus! Voluptate.
        Facilis, eos a, pariatur fugit aliquam consequatur minima quisquam laudantium ad quas similique consequuntur voluptatibus explicabo omnis nemo! Illo hic neque voluptas molestias eius quasi enim quae omnis culpa optio.
        Sint sapiente quae asperiores quod autem veniam iste, nisi odio libero culpa doloremque, nesciunt officiis reprehenderit hic. Numquam, natus. Itaque rem laudantium perferendis? Animi odio dignissimos, amet laborum qui inventore!
        Alias id reiciendis asperiores nulla laboriosam quas illo perspiciatis quos repellendus odio unde labore nihil delectus sapiente dolores et eaque minus reprehenderit natus, dolore fugiat placeat atque! Corporis, distinctio quae!
        Aut iste culpa ut fugit reiciendis ipsum, libero ipsa eius inventore porro quo possimus alias a, quaerat perspiciatis rem? Asperiores aliquid modi assumenda distinctio laudantium non, temporibus ducimus dolore minima!</p>
      </div>
    </div>
  </div>
</div>
</div>

